{% extends 'base.html' %}

{% block title %} Pet Info {% endblock %}

{% block content %}

<h1>Pet Information</h1>

{% for msg in get_flashed_messages() %}
  <p>{{ msg }}</p>
{% endfor %}
<p>
    <div>
        {{pet.name}}
    </div>
    <div>
        <img src="{{ pet.photo_url }}" alt="Picture of {{ pet.name }}" width = 200px height = 200px>
    </div>
    <div>
        Age: {{ pet.age }}
    </div>
    <div>
        Species: {{ pet.species }}
    </div>
</p>

<form id="edit-pet-form" method="POST">
  {{ form.hidden_tag() }} <!--add type=hidden form fields -->

  {% for field in form
         if field.widget.input_type != 'hidden' %}

    <p>
      {{ field.label }}
      {{ field }}

      {% for error in field.errors %}
        {{ error }}
      {% endfor %}
    </p>

  {% endfor %}

  <button type="submit">Edit Pet</button>
</form>
{% endblock %}